<div class="subpage">
	<%= render 'layouts/static_pages/header' %>
</div>

<div class="templates">
	<div class="container">
		<div class="row">
	    <div class="col-sm-12 center">
	      <h1 class="template_h1">Thank you for confirming your email. We will notify you as soon
	      	as Leasify launches!</h1>
	    </div>
	  </div>
		
	</div>
</div>