%section.engage-prospects
  .container
    %div
      .row
        .col-lg-12.center
          %h3
            %u How can i engage my prospects?
          %h2 Easily Publish, Edit, and Manage Listings
          .row
            .col-lg-10.col-lg-offset-1
              %p
                Leasify also gives you the power to list available spaces for your property. You can easily
                publish, edit and manage listings with Leasify's dashboard.
      / end row
      .row{:style => "margin-top:50px;"}
        .col-lg-12.center
          = image_tag("/assets/section2.png", class: "img-responsive")
  / end of div scrolling effect
