<section class="call-to-action email_signup" id="call_to_action">
  <div class="container">  
    <div class=""> 
      <div class="row">
        <div class="col-lg-12 center">
          <h3><u>Leasify isn't quite ready yet.</u></h3>
          <h2>Sign up and get notified when we're ready!</h2>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            </div>
          </div>
        </div>
      </div><!-- end row -->
      <div class="row center m-t-lg m-b">
        <div class="col-lg-12">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="http://60eastdesigns.us6.list-manage.com/subscribe/post?u=80b4bb8d4b9533c6178a337ee&amp;id=41468633f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" role="form" target="_blank" novalidate>
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="email_sign_up required email" placeholder="Enter email" name="EMAIL" id="mce-EMAIL">
              </div>
              <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe emailbtn" class="btn btn-info btn-lg uppercase brandon-bold">
            
              <div id="mce-responses" class="clear" style="position: absolute; left: -5000px;">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_80b4bb8d4b9533c6178a337ee_41468633f0" value="">
              </div>
             <p style="margin:30px 0;" id="thanks">Thank you! We will notify you as soon as we launch!</p>
            </form>
          </div>

          <!--End mc_embed_signup-->
       
        </div>
      </div>
    </div>
  </div> <!-- end of div scrolling effect -->
</section>
<script type="text/javascript">
  $(document).ready(function() {
    $("#thanks").hide();
    $('#emailbtn').click(function() {
      $("#thanks").fadeIn('fast');
    });
  });
</script>





















