<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2><%= @propertyinformation.name %></h2>
				<p>Copyright &copy; 2014 <%= @propertyinformation.name %></p>
				<p>
					<%= @propertyinformation.owner_name %> / Powered by 
					<a href="http://demo.leasify.co" target="_target">
						Leasify
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>