= draft_page_error_alert
= draft_listing_error_alert
%header
  .container-fluid
    .row
      .col-md-12
        %a.logo{:href => "/"} Scotch Panels
        .pull-right
          %a.toggle-panel{:href => "#"}
            %i.fa.fa-bars

