<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p>Copyright &copy; 2014 <%= @propertyinformation.name %>, 
					<%= full_address %>, <%= @propertyinformation.zipcode %></p>
				<p>
					<%= @propertyinformation.owner_name %> | Powered by 
					<a href="http://www.leasify.co" target="_target" class="customize-link">
						Leasify
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>