.text-muted.text-sm.hidden-nav-xs.m-t-lg.m-l-lg
  Browse
%ul.nav.nav-main{"data-ride" => "collapse"}
  - @sidebar_nav.each do |sidebar|
    %li
      = link_to send(sidebar.link_to) do
        %span.font-bold= sidebar.name
