.text-muted.text-sm.hidden-nav-xs.padder.m-t-sm.m-b-sm.text-left
  %i.i.i-arrow-left4
  = link_to "Exit Wizard", dashboard_path, class: "btn btn-link"
.line.dk.hidden-nav-xs
%ul.nav.nav-main.wizard{"data-ride" => "collapse"}
  %li{  }
    = link_to wizard_property_information_path, class: 'auto' do
      %span.font-bold.m-r 1.
      %span.font-bold Property Information
  %li{  }
    = link_to wizard_property_address_path, class: 'auto' do
      %span.font-bold.m-r 2.
      %span.font-bold Property Address
