<!-- start color panel -->
<div class="panel"> 
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#logo"> 
		Logo <i class="i i-arrow-down5 pull-right"></i>
	</a> 
	<div id="logo" class="panel-collapse collapse" style="height: auto;"> 
    <%= f.file_field :theme_image, as: :file, class: "filestyle", id: "logo_image", style: "position: fixed; left: -500px;" %>
      <div class="bootstrap-filestyle" style="display: inline;">
        <label for="logo_image" class="btn btn-info btn-block m-b-lg">
          <i class="i i-images"></i>
          <span style="font-weight:700;">Upload Logo</span>
        </label>
      </div>  
      <p>You can upload another image or choose not to show your logo in the "Theme Options" 
        section of your dashboard.</p>
      <div class="form-group m-t-lg">
        <div class="checkbox m-n i-checks" >
          <label>
            <%= f.check_box :show_logo %> 
            <i></i>
            <%= f.label :show_logo, "Show logo?" %>
          </label>
        </div>
      </div><!-- end form group -->
  </div> <!-- end id logo -->
</div> <!-- end logo panel -->
<script type="text/javascript">
  // Image preview before upload
  var previewlogo_image = $('iframe').contents().find('#logo');

      $("#logo_image").change(function(event){
           var input = $(event.currentTarget);
           var file = input[0].files[0];
           var reader = new FileReader();
           reader.onload = function(e){
               image_base64 = e.target.result;
               $('iframe').contents().find('.navbar-brand').hide();
               $('iframe').contents().find('#logo').hide();
               $('iframe').contents().find('#blankpng').show();
               $('iframe').contents().find('#blankpng').attr("src", image_base64);

           };
           reader.readAsDataURL(file);
          $('iframe').contents().find('#blankpng').css('height', '50px').css('margin-top', '10px');


      });
</script>