<!DOCTYPE html>
<html>
<head>
  <title><%= @propertyinformation.name %></title>
  <%= stylesheet_link_tag "bootstrap.css", "bootstrap-wysihtml5.css", "livingston.css", "leasing.css" %>
 	<%= javascript_include_tag "jquery", "bootstrap", "app", "jquery.slimscroll.min", "app.plugin" %>
  <%= csrf_meta_tags %>

  <!-- For leasify.co -->
  <script type="text/javascript" src="//use.typekit.net/ckw2lgb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script> 

	<!-- for lvh.me, remove when pushing to git and heroku 
	<script type="text/javascript" src="//use.typekit.net/bgg6ayr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
</head>