// Place all the styles related to the Avaya controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;

}

ul li ul {
	list-style:none;
	background: rgba(0,0,0,0.7);
  border-radius:2px;
  padding:10px;
}
header a:hover {
	text-decoration: none;
}

ul li ul li {
	display:none;
	margin:0; 
	padding:0 !important;
}
ul li ul li a {
	padding: 10px;
  display: block;
  color: #fff;
  font-size:11px;
}
ul li ul li a:hover {
	text-decoration: none;
	
}

* {
	outline: none !important;
	margin: 0; 
	padding: 0;
}
#page {
	display:table;
	overflow:hidden;
	margin:0px auto;
}
*:first-child+html #page {
	position:relative;
}/*ie7*/
* html #page {
	position:relative;
}/*ie6*/

#content_container{
	display:table-cell;
	vertical-align: middle;
}
*:first-child+html #content_container{
	position:absolute;
	top:50%;
	}/*ie7*/
* html #content_container{
	position:absolute;
	top:50%;
	}/*ie6*/

*:first-child+html #content{
	position:relative;
	top:-50%;
	}/*ie7*/
* html #content{
	position:relative;
	top:-50%;
	}/*ie6*/

#page{
	height:100%;
	width:465px;
}

hr {
	margin: 80px 0;
}
.center {
	text-align: center;
}
.btn-no-bg {
	background: transparent;
	color: #fff;
	border: 2px solid white;
}
.btn-no-bg:hover {
	background: rgba(0,0,0,0.2);
	color: #fff;
}
.yield {
	font-size: 14px;
	line-height: normal;
}
.avaya {
	

	ul {
	&.list-style-none {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		&.first-list {
			font-size: 20px;
			color: #999;
		}
		padding-bottom: 14px;
		a {
			
		}
	}
}
	#wrapper {
		height: 100%;
	}
	h1, h2, h3 {
		margin: 0;
		padding: 0;
		
	}
	header {
		padding: 0 20px;
		width:300px;
		margin-top: 30px;
		ul li a{
			
			text-transform: uppercase;
			
			&:hover {
				color:#d7d7d7;
				background: transparent;
			}
		}
		.navbar-brand {
			color: #fff;
		}
	}
	.main-homepage {
			
			width: 100%;
			height: 100%;
			background: #fff;
			color: #fff;
			background-color: #f5f5f5;
			h1 {
				
				
				
			}
			.page-title {
				float: left;
				text-align: right;
				width: 50%;
				padding: 100px 100px 100px 380px;

				&.avaya-leasing {
					width:35%;
					padding: 100px;
				}
				
			}
			
			.welcome-box.page {
				float:right;
		    height:100%;
		    width:50%;
		    text-align: left;
		    padding: 100px;
		    font-size: 18px;
		    line-height: 28px;
		    overflow-y: auto;
		    overflow-x: hidden;

		    &.white-bg {
		    	background: #f5f5f5;
		    	padding:0px 30px 30px 30px;
		    	width: 65%;
		    	color: #535353;
		    }
			}
			p {
				
			}
			.listings-btn {
				position: absolute;
				bottom: 50px;
				margin: auto;
				left: 0;
				right: 0;
			}
		}
	.content {
		padding:50px;
		margin-top:150px;
		h1 {
			margin-bottom: 17px;
		}

	}
	.page-content {
		
		h1 {
			margin-bottom: 60px;
		}
		h2, h3 {
			margin-bottom: 20px;
		}
		p {
			
			line-height: 28px;
			
		}
	}
	footer {
		padding: 20px;
		position: absolute;
		bottom: 0;
		
		width: 100%;
		p {
			
			margin: 0;
			
		}
	}
	.stats {
		
		margin-bottom: 30px;
		background: #fff;
		border-bottom: 1px solid #d5d9dc;
		padding: 10px 0 4px;
		margin-right: -30px;
		margin-left: -30px;
		ul {
			margin: 0;
			li {
			line-height:normal;
			display: inline-block;
			padding: 0 20px 0 20px;
			font-size: 13px;
			color: #666666;
			font-weight: bold;
				span {
					font-size: 10px;
					color: #a6a6a6;
					text-transform: uppercase;
					font-weight: bold;
				}
			}
		}
	}
	.m-b-lg {
		margin-bottom: 50px;
	}
	.line {
		height:3px; 
		background:white; 
		width:70px; 
		display:inline-block;
		margin: 20px 0;
	}
	.uppercase {
		text-transform: uppercase;
	}
	.leasing-widget {
		border: 1px solid #d7d7d7;
		border-radius: 2px;
		padding: 5px;
		background: #fff;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: normal;
		&:hover {
			border: 1px solid #b8b8b8;
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
		}
		img {
			width: 100%;
		}
		.leasing-title {
			padding:10px 0;
			text-align: center;
			border-bottom: 1px solid #d7d7d7;
			p:first-child {
				font-size:16px;
				font-weight: bold;
				margin:0;
			}
			p:last-child {
				font-size: 12px;
				color: #a2a6aa;
				margin: 0;
			}
		}

		.leasing-content {
			padding: 16px;

			p {
				font-size: 12px;
				line-height:21px;
				color: #999;
			}
		}
	}
	.welcome-box {
		width: 700px;
		text-align: center;
		background: rgba(0,0,0,0.95);
		padding: 60px;
		h1 {
			margin-bottom: 10px;
			font-size: 50px;
		}
	}

}/*end avaya*/

@media screen and (max-width: 1200px) {
  .avaya .main-homepage .welcome-box.page,
  .avaya .main-homepage .welcome-box.page.white-bg {
    width: 100%;
    float:none;
    overflow-y: visible;
    height:auto;
  }

  .avaya .main-homepage .page-title,
  .avaya .main-homepage .page-title.avaya-leasing {
    width: 100%;
    float:none;
    text-align:center;
  }
  .avaya .main-homepage .page-title {
  	padding: 100px 0 60px;
  }
  footer {
    display:none;
  }
  .avaya header {
    width: 100%;
    text-align:center;
  }
  .avaya ul li  {
    display:inline;
    width:100%;
    padding: 0 10px;
  }
  .avaya .stats {
  	display: none;
  }
  .avaya .main-homepage .welcome-box.page.white-bg {
  	padding-top:30px;
  }

  .avaya header {
  	margin: 0;
  	padding:10px 0;
  }
}

.icon-bar {
	background:white;
}


.carousel,
.item,
.active{
	height:100%;
}
.carousel-inner, 
.carousel-caption{
	height:100%;
}
.fill {
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}
#logo {
	height: 80px;
}
/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
}


.carousel .item {
	-webkit-transition: opacity 3s; 
	-moz-transition: opacity 3s; 
	-ms-transition: opacity 3s; 
	-o-transition: opacity 3s; 
	transition: opacity 3s;
}
.carousel .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .next {
	left:0;
	opacity:1;
	z-index:1;
}

.contacts {
	margin-bottom: 20px;
}

.contacts:last-child {
	margin-bottom: 0;
}































