// Place all the styles related to the Sunnyside controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.

html, body {
	height: 100%;

}
* {
	outline: none !important;
}

hr {
	margin: 80px 0;
}
.center {
	text-align: center;
}
.btn-no-bg {
	background: transparent;
	color: #fff;
	border: 2px solid white;
}
.btn-no-bg:hover {
	background: rgba(0,0,0,0.2);
	color: #fff;
}
.leasing {
	background: #f5f5f5;
}
.m-b-lg {
	margin-bottom: 20px;
}
.livingston {
	padding-top: 50px;

	.heading {
		padding: 50px 0 100px;

		h1 {
			margin:30px 0;
		}
	}
	ul {
		&.list-style-none {
			list-style: none;
		}
		li {
			&.first-list {
				font-size: 20px;
				color: #999;
			}
			padding-bottom: 0px;
			a {
				
			}
		}
	}
	.main-gallery {
		margin-bottom: 30px;
	}
	#wrapper {
		height: 100%;
	}
	h1, h2, h3 {
		margin: 0;
		padding: 0;
		
	}
	header {
		padding: 0 50px;
		ul li a{
			color: #535353;
			text-transform: uppercase;
			font-size: 12px;
			&:hover {
				color:#d7d7d7;
				background: transparent;
			}
		}
		.navbar-brand {
			color: #535353;
		}
	}
	
	.content {
		padding:50px;
		margin-top:150px;
		h1 {
			margin-bottom: 17px;
		}

	}
	.page-content {
		padding: 10px;
		h1 {
			margin-bottom: 60px;
		}
		h2, h3 {
			margin-bottom: 20px;
		}
		p {
			font-size: 14px;
			line-height: 28px;
			color: #999;
		}
	}
	footer {
		padding: 100px 0;
		background: #f7f7f7; 
		margin-top:50px;
		p {
			font-size: 12px;
			margin: 0;
			color: #999;
		}
	}
	.stats {
		margin-top:0px;
		margin-bottom: 30px;
		background: #fff;
		border-bottom: 1px solid #efefef;
		padding: 5px 0;
		ul {
			margin: 0;
			li {
			display: inline-block;
			padding: 0 20px 0 20px;
			font-size: 13px;
			color: #666666;
			font-weight: bold;
				span {
					font-size: 10px;
					color: #a6a6a6;
					text-transform: uppercase;
					font-weight: bold;
				}
			}
		}
	}
	.leasing-widget {
		border: 1px solid #d7d7d7;
		border-radius: 2px;
		padding: 5px;
		background: #fff;
		margin-bottom: 20px;
		&:hover {
			border: 1px solid #b8b8b8;
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
		}
		img {
			width: 100%;
		}
		.leasing-title {
			padding:10px 0;
			text-align: center;
			border-bottom: 1px solid #d7d7d7;
			p:first-child {
				font-size:16px;
				font-weight: bold;
				margin:0;
			}
			p:last-child {
				font-size: 12px;
				color: #a2a6aa;
				margin: 0;
			}
		}

		.leasing-content {
			padding: 16px;

			p {
				font-size: 12px;
				line-height:21px;
				color: #999;
			}
		}
	}
}/*end sunnyside*/






























