:css
  #display-none-preview > .preview-col:first-of-type {
    width: 0px;
  }
  #display-none-preview > .preview-col:first-of-type > .fields > .upload-preview,
  #display-none-preview > .preview-col:first-of-type > .fields > .row > .col-md-12 > .btn-group {
    display: none;
    width: 0px;
  }
= render 'form'
