/ .aside
%aside#nav.b-light.aside-md.hidden-print
  %section.vbox
    %section.w-f.scrollable
      .slim-scroll{"data-disable-fade-out" => "true", "data-distance" => "0", "data-height" => "auto", "data-railopacity" => "0.2", "data-size" => "10px"}
        / nav
        %nav.nav-primary.hidden-xs
          - if request.subdomain.present? && request.subdomain != "www"
            - if params[:controller] == "wizards"
              = render 'layouts/aside/wizard'
            - else
              = render 'layouts/aside/main'
          - else
            = render 'layouts/aside/admin'
        / / nav
/ /.aside
