<div class="center">
	<div class="btn-group"> 
		<%= link_to "Property Information", property_path, class: "btn btn-default" %>
	  <%= link_to "Property Address", address_path, class: "btn btn-default" %>
	  <%= link_to "Amenities", amenities_property_path, class: "btn btn-default" %>
	</div>
</div>