<!DOCTYPE html>
<html>
<head>
  <title><%= @propertyinformation.name %></title>
  <%= stylesheet_link_tag "bootstrap.css", "sunnyside.css", "leasing.css" %>
 	<%= javascript_include_tag "jquery", "bootstrap", "app", "jquery.slimscroll.min", "app.plugin" %>
  <%= csrf_meta_tags %>
 
 	<script type="text/javascript" src="//use.typekit.net/ckw2lgb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>