<!DOCTYPE html>
<html>
<head>
  <title><%= @propertyinformation.name %></title>
  <%= stylesheet_link_tag "bootstrap.css", "sunnyside.css", "leasing.css" %>
 	<%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tags %>
</head>