<div class="row center propertyheader">
  <%= link_to "Your Logo", logo_path %>
  <%= link_to "Homepage Gallery", homepage_gallery_path %>
  <%= link_to "Homepage Content", homepage_content_path %>
</div>