<div class="center">
	<div class="btn-group">
		<%= link_to "Your Logo", logo_path, class: "btn btn-default" %>
		<%= link_to "Homepage Gallery", homepage_gallery_path, class: "btn btn-default" %>
		<%= link_to "Homepage Content", homepage_content_path, class: "btn btn-default" %> 
	</div>
</div>
