<!DOCTYPE html>
<html>
<head>
  <title>Avaya</title>
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="container-fluid">
			This is Avaya Template<br>
			<%= yield %>
		</div>
	</body>
</html>
