<!DOCTYPE html>
<html>
<head>
  <title>Subdomain</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="devise">
	<div class="container">
		<%= yield %>
	</div><!-- /.container -->
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
