<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
